<form class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-2 align-items-center mb-2" th:hx-get="@{/formData}" hx-include="#pageSize" hx-target="#tbody" hx-swap="innerHTML" th:object="${formData}">
        <div class="col">
            <div class="form-floating">
                <input type="datetime-local" id="startDate" class="form-control" name="startDate"
                    th:field="*{startDate}" />
                <label for="startDate" class="col-form-label">Start
                    Date</label>
            </div>
        </div>
        <div class="col">
            <div class="form-floating">
                <input type="datetime-local" id="endDate" name="endDate" class="form-control" th:field="*{endDate}" />
                <label for="endDate" class="col-form-label">End Date</label>
            </div>
        </div>
        <div class="col-auto">
            <input type="submit" class="btn btn-primary" id="submit">
        </div>
</form>