<tr th:each="policy,pol: ${policies}">
	<td class="text-center align-middle"
			th:text="${pol.count}">
		</td>
	<td class="text-center align-middle" th:text="${policy.policyNo}"></td>
	<td class="text-center align-middle" th:text="${policy.policyNo}"></td>
	<td class="text-center align-middle" th:text="${policy.ebaoCreationDate}"></td>
	<td class="text-center align-middle" th:text="${policy.bancsCreationDate}"></td>
	<td class="text-center align-middle" th:text="${policy.bancsCreationDate!=null ? 'Success' : 'Failed'}"></td>
	<td class="text-center"><button class="btn btn-primary view" onclick="myFunctionPopUp()"
			 id="view">View</button></td>
</tr>
